<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="Cache-Control" content="no-siteapp;no-transform">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>dr_py首页</title>
    <script src="/static/js/jquery.min.js"></script>
</head>
<style>
    .btn{
        margin-bottom: 2rem;
        border: 1px solid #615e5e;
        width: 180px;
        height: 30px;
        text-align: center;
        background-color: #1379cb;
        color: #ffffff;
        border-radius: 20px;
        line-height: 30px;
          }

    .btn a{
        color: #ffffff;
    }

a {
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}
</style>
<body style="background: #FFFFFF url(https://cdn.seovx.com/d/?mom=302) no-repeat fixed center;max-hright;">

<script>
    $(document).ready(function(){
        $("#gen_config").click(function(){
            // let rule = this.innerText.trim();
            let code = $.ajax({url:"/configs",async:false}).responseText;
            code = typeof(code) === "object"?code:JSON.parse(code);
            if(code.code === 200){
                alert(code.msg);
            }
        });
});
</script>
<h1>欢迎使用dr_py项目</h1>
<p>可以简单的自定义爬虫实现cms数据接口</p>

<div class="btn" style="display: none">
    <a href="/clear?rule=">缓存清理接口</a>
</div>
<div class="btn">
    <a href="/vod?rule=">猫CMS接口</a>
</div>
<div class="btn">
    <a href="/rules">缓存文件列表-清除</a>
</div>
<div class="btn">
    <a href="/raw">缓存文件列表-查看</a>
</div>
<div class="btn">
    <a href="http://{{ getHost(0) }}/config/0">本地配置地址</a>
</div>
<!--<a href="{{ getHost(1) }}">局域网:{{ getHost(1) }}</a>-->
<p>局域网:{{ getHost(1) }}</p>
{% if '192.168' in getHost(1) %}
<div class="btn">
    <a href="http://{{ getHost(1) }}/config/1">局域网配置地址</a>
</div>
<div class="btn">
    <a href="http://{{ manager }}">局域网在线进程管理</a>
</div>
{% endif %}
<div class="btn">
    <a href="http://{{ getHost(2) }}/config/2">远程配置地址</a>
</div>

<div class="btn">
    <a href="javascript:void(0);" id="gen_config">生成配置文件</a>
</div>
</body>
</html>